//A sass file called colors.scss that applies the css style rules related to colors.

//color for backgrounds
$primary-color: yellow;
$secondary-color:gold;
$button-color:darkorange;

//color of text
$text-color:darkblue;
$title-color:blue;
$web-title-color: floralwhite;