.img-container{
    display: flex;
    flex-direction: row;
}

.size-xs {
    width: 200px;
    height: 200px;
}

.size-s {
    width: 250px;
    height: 250px;
}

.size-m {
    width: 300px;
    height: 300px;
}

.size-l {
    width: 350px;
    height: 350px;
}