.btn{
    margin: 4rem;
    width: 5rem;
    height: 3rem;
    cursor: pointer;
}

body{
    background-image: url("./Images/942057.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img__container{
    display: flex;
    flex-direction: row;
    height: 30rem;
}

.is__hidden{
    display: none;
}

