@use './_colors.scss' as colors;
@use './_text.scss' as text;
@forward './_reset.scss';
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: colors.$js;
    display: flex;
    align-items: stretch;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

h1,
.text-s {
    font-family: text.$family;
    font-size: 40px;
    color: colors.$black;
    margin-bottom: 20px;
    font-weight: text.$light;
    height: 40px;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

.section-divs {
    width: 100vw;
}

.js {
    flex-grow: 1;
    background-color: colors.$js;
}

.jq {
    flex-grow: 1;
    background-color: colors.$jquery;
}

.sass {
    flex-grow: 1;
    background-color: colors.$bluesass;
}

.div {
    padding: 5rem;
    width: 100vw;
    height: 33.333vh;
}

.headerdiv {
    padding: 0.5rem 5rem;
    width: 100vw;
    height: 6vh;
    position: fixed;
}

.upper-container {
    width: 100vw;
    height: 60vh;
}

.small-container {
    width: 100vw;
    height: 33.333vh;
    display: flex;
    justify-content: space-around;
    padding-left: 0rem;
}

.p0 {
    background-color: colors.$header;
}

.p1 {
    background-color: colors.$purple;
}

.p2 {
    background-color: colors.$orange;
}

.p3 {
    background-color: colors.$pink;
}

.p4 {
    background-color: white;
}


/* .text-s {
    font-family: text.$family;
    font-size: 16px;
    font-weight: text.$light;
    color: colors.$black;
    margin-bottom: 15px;
} */

.btn {
    width: max-content;
    background-color: transparent;
    color: colors.$black;
    border: 2px solid colors.$black;
    font-family: text.$family;
    font-size: 14px;
    font-weight: text.$light;
    border-radius: 15px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: colors.$black;
    color: white;
}

.btn:active {
    opacity: 0.6;
    transform: scale(0.98);
}

.neg {
    width: max-content;
    background-color: transparent;
    font-family: text.$family;
    font-size: 14px;
    font-weight: text.$light;
    border-radius: 15px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
    margin-bottom: 15px;
    border: 2px solid white;
    color: white;
}

.neg:hover {
    background-color: white;
    color: colors.$black;
}

.neg:active {
    opacity: 0.6;
    transform: scale(0.98);
}

.purple {
    background-color: colors.$purple;
}

.full-size {
    width: 80vw;
    height: 80vh;
    visibility: hidden;
    opacity: 0;
    background-color: #FDE3B8;
    z-index: 999;
    top: 0;
    left: 155px;
    transition: 0.2s;
    overflow: scroll;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.nav-ic {
    font-family: text.$family;
    font-weight: text.$bold;
    color: white;
    line-height: 18px;
}

.div__img--fit {
    /* object-fit: scale-down; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-mod {
    width: 80vw;
    height: fit-content;
    background-color: colors.$black;
    padding: 15px;
    opacity: 0;
    overflow: hidden;
    transition: 0.3xs;
    position: absolute;
}

.show {
    height: inherit;
    opacity: 1;
}

.text-coral {
    color: lightcoral;
    line-height: 3rem;
    font-family: text.$family;
    font-size: 25px;
    font-weight: text.$bold;
}

.text-source {
    color: navy;
    line-height: 20px;
    margin-bottom: 20px;
}

.text-white {
    color: rgb(255, 255, 255);
    line-height: 20px;
    margin-bottom: 20px;
    font-size: text.$light;
}