.container{
    display: grid;
    grid-template-areas: auto auto;
    grid-gap: 25px;

    &__left--1{
        grid-column: 1/2;
    }

    &__left--2{
        grid-column: 1/2;
    }

    &__left--3{
        grid-column: 1/2;
    }

    &__left--4{
        grid-column: 1/2;
    }

    &__left--5{
        grid-column: 1/2;
    }

    &__right--1{
        grid-column: 2/3;
    }

    &__right--2{
        grid-column: 2/3;
    }

    &__right--3{
        grid-column: 2/3;
    }

    &__right--4{
        grid-column: 2/3;
    }

    &__right--5{
        grid-column: 2/3;
    }
}