.wrapper {
    background-color: white;
    padding-top: 2rem;
    margin: 5rem auto;
    width: 30rem;
    height: 30rem;
    text-align: center;

    &__msg {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    &__list {
        display: flex;
        justify-content:space-between;
        margin: 0 2rem 2rem;

        div {
            text-align: center;
        }

        img {
            height: 6rem;
        }
    }

    &__pic {
        background-color: white;

        img {
            height: 20rem;
            margin-bottom: 2rem;
        }
    }

    &__btns {
       text-align: center;
        margin: 1rem auto;
        width: 50%;

        button {
            height: 3rem;
            width: 8rem;
            color: white;
            background-color: red;
            border: 1px solid black; 
        } 
    }
}

